@fl-primary-color:                  #4d698e;
@fl-secondary-color:                #edf2f7;
@fl-dark-hdr:                       false;

// ---------------------------------
// BODY

@fl-body-bg:                        #fff;
@fl-body-color:                     #444;
@fl-body-muted-color:               hsl(hue(@fl-secondary-color), 18%, 72%); // todo
@fl-body-muted-more-color:          #bbb;
@fl-body-heading-color:             @fl-body-color;

@fl-body-control-bg:                @fl-secondary-color;
@fl-body-control-color:             @fl-body-muted-color;

@fl-body-control-primary-bg:        @fl-primary-color;
@fl-body-control-primary-color:     #fff;

// ---------------------------------
// HEADER

@fl-hdr-light-bg:                   @fl-body-bg;
@fl-hdr-light-color:                @fl-primary-color;
@fl-hdr-light-muted-color:          @fl-body-muted-color;
@fl-hdr-light-control-bg:           @fl-body-control-bg;
@fl-hdr-light-control-color:        @fl-body-control-color;

@fl-hdr-dark-bg:                    @fl-primary-color;
@fl-hdr-dark-color:                 #fff;
@fl-hdr-dark-muted-color:           fade(#fff, 0.5);
@fl-hdr-dark-control-bg:            fade(#000, 0.1);
@fl-hdr-dark-control-color:         #fff;