node_modules

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# We are not using zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
