@import "admin/Label";
@import "admin/TaskOutputModal";
@import "admin/QueueSection";
@import "admin/ControlSection";

.PackageManager-controlSection, .PackageManager-queueSection {
  > .container {
    padding-bottom: 0;
  }
}

.FormControl-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.Form-group--danger {
  border: 2px solid var(--alert-error-bg);
  border-radius: var(--border-radius);
  background-color: transparent;
}

// @TODO add to core
.Checkbox--switch.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
