.tag-label {
  font-size: 85%;
  font-weight: 600;
  display: inline-block;
  padding: 0.2em 0.55em;
  border-radius: @border-radius-base;
  background: @fl-body-secondary-color;
  color: @fl-body-muted-color;

  &.untagged {
    background: transparent;
    border: 1px dotted @fl-body-muted-color;
    color: @fl-body-muted-color;
  }

  &.colored {
    & .tag-label-text {
      color: #fff !important;
    }
  }

  .discussion-hero .tags-label & {
    background: transparent;
    border-radius: 4px !important;

    &.colored {
      margin-right: 5px;
      background: #fff !important;
      color: @fl-body-muted-color;

      & .tag-label-text {
        color: inherit !important;
      }
    }
  }
}
.discussion-hero-colored {
  &, & a {
    color: #fff;
  }
}
.tags-label {
  .discussion-summary & {
    margin-right: 10px;
  }
  .discussion-tagged-post & {
    margin: 0 2px;
  }

  & .tag-label {
    border-radius: 0;
    margin-right: 1px;

    &:first-child {
      border-radius: @border-radius-base 0 0 @border-radius-base;
    }
    &:last-child {
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
    &:first-child:last-child {
      border-radius: @border-radius-base;
    }
  }
}

// @todo give all <li>s a class in core, get rid of block-item
.discussion-hero {
  & .block-item {
    margin-top: 15px;
  }
}

.tag-icon {
  border-radius: @border-radius-base;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -3px;
  margin-left: 1px;
  background: @fl-body-secondary-color;

  &.untagged {
    border: 1px dotted @fl-body-muted-color;
    background: transparent;
  }
}
.side-nav .dropdown-menu > li > .dropdown-menu {
  margin-bottom: 10px;

  & .tag-icon {
    display: none;
  }
  & > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
  }
}

.tag-discussion-modal {
  & .modal-header {
    background: @fl-body-secondary-color;
    padding: 20px;

    & h3 {
      text-align: left;
      color: @fl-body-muted-color;
      font-size: 16px;
    }
  }
  & .modal-body {
    padding: 0 20px 20px;
  }
  & .modal-footer {
    padding: 1px 0 0;
    text-align: left;
  }
}
.tags-form {
  padding-right: 100px;
  overflow: hidden;

  & .tags-input {
    float: left;
  }
  & .btn {
    margin-right: -100px;
    float: right;
    width: 85px;
  }
}
.tags-input {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  white-space: nowrap;

  & input {
    display: inline;
    outline: none;
    margin-top: -2px;
    border: 0 !important;
    padding: 0;
    width: 100%;
    margin-right: -100%;
  }
  & .remove-tag {
    cursor: not-allowed;
  }
}
.tags-input-selected {
  & .tag-label {
    margin-right: 5px;
  }
}

.tags-select {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  max-height: 50vh;

  & > li {
    padding: 7px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &.pinned {
      padding-top: 10px;
      padding-bottom: 10px;

      & .name {
        font-size: 16px;
      }
    }
    &.colored {
      &.selected .tag-icon:before {
        color: #fff;
      }
    }
    &.active {
      background: @fl-body-secondary-color;
    }
    & .name {
      display: inline-block;
      width: 150px;
      margin-right: 10px;
      margin-left: 10px;
    }
    & .description {
      color: @fl-body-muted-color;
      font-size: 12px;
    }
    &.selected {
      & .tag-icon {
        position: relative;

        &:before {
          .fa();
          content: @fa-var-check;
          color: @fl-body-muted-color;
          position: absolute;
          font-size: 14px;
          width: 100%;
          text-align: center;
          padding-top: 1px;
        }
      }
    }
    & mark {
      font-weight: bold;
      background: none;
      box-shadow: none;
      color: inherit;
    }
  }
}


.tag-tiles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  & > li {
    float: left;
    width: ~"calc(50% - 1px)";
    height: 200px;
    margin-right: 1px;
    margin-bottom: 1px;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: @border-radius-base;
    }
    &:nth-child(2) {
      border-top-right-radius: @border-radius-base;
    }
    &:nth-last-child(2):nth-child(even), &:last-child {
      border-bottom-right-radius: @border-radius-base;
    }
    &:nth-last-child(2):nth-child(odd), &:last-child:nth-child(odd) {
      border-bottom-left-radius: @border-radius-base;
    }
  }
}
.tag-tile {
  position: relative;

  &, & a {
    color: #fff;
  }
  & .tag-info, & .last-discussion {
    padding: 20px;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  & > a {
    transition: background 0.2s;

    &:hover {
      background: fade(#000, 10%);
    }
    &:active {
      background: fade(#000, 20%);
    }
  }
  & .tag-info {
    top: 0;
    bottom: 55px;
    padding-right: 20px;

    & .name {
      font-size: 20px;
      margin: 0 0 10px;
      font-weight: normal;
    }
    & .description {
      color: fade(#fff, 50%);
      margin: 0 0 15px;
    }
    & .children {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;

      & > a {
        margin-right: 15px;
      }
    }
  }
  & .last-discussion {
    bottom: 0;
    height: 55px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 17px;
    padding-bottom: 17px;
    color: fade(#fff, 50%);

    & .title {
      margin-right: 15px;
    }
  }
}
.tag-cloud {
  margin-top: 30px;
  text-align: center;

  & h4 {
    font-size: 12px;
    font-weight: bold;
    color: @fl-body-muted-color;
    text-transform: uppercase;
    margin-bottom: 15px;

    &:before {
      .fa();
      content: @fa-var-tags;
      margin-right: 5px;
      font-size: 14px;
    }
  }
}
.tag-cloud-content {
  font-size: 14px;

  &, & a {
    color: @fl-body-muted-color;
  }
  & a {
    margin: 0 6px;
  }
}
