includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    # Flarum customizations
    bootstrapFiles:
        - bootstrap.php
    excludePaths:
        - *.blade.php
    noEnvCallsOutsideOfConfig: false
    checkModelAppends: false
    treatPhpDocTypesAsCertain: false
