parameters:
	ignoreErrors:
		# Remove this group below with larastan 2.0 (i.e Flarum 2.0)
		- message: "#Relation '[A-z_-]+' is not found in [A-z\_]+ model.#"
		  reportUnmatched: false
		- message: '#^Parameter \#1 \$query of method [A-z_<>\\]+\:\:union\(\) expects [A-z_<> .,|\\]+ given\.$#'
		  reportUnmatched: false
		- message: '#^Parameter \#1 \$query of method [A-z_<>\\]+\:\:joinSub\(\) expects [A-z_<> .,|\\]+ given\.$#'
		  reportUnmatched: false

		#	We ignore this because resolve can either take a class name as the generic return type or just a binding name.
		- message: "#Template type T of function resolve[()]{2} is not referenced in a parameter.#"
		  reportUnmatched: false

		#	We ignore new static errors because we want extensibility.
		#	@TODO: needs discussion.
		- message: "#^Unsafe usage of new static[()]{2}.$#"
		  reportUnmatched: false

		# ConnectionInterface lacks methods that exist in the implementation,
		# yet we don't want to inject the implementation.
		- message: '#^Call to an undefined method Illuminate\\Database\\ConnectionInterface\:\:[A-z0-9_]+\(\)\.$#'
		  reportUnmatched: false
