// Single side border-radius

.border-top-radius(@radius) {
  border-start-end-radius: @radius;
   border-start-start-radius: @radius;
}
.border-right-radius(@radius) {
  border-end-end-radius: @radius;
     border-start-end-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-end-end-radius: @radius;
   border-end-start-radius: @radius;
}
.border-left-radius(@radius) {
  border-end-start-radius: @radius;
     border-start-start-radius: @radius;
}
