/vendor
composer.lock
composer.phar
.DS_Store
Thumbs.db
tests/.phpunit.result.cache
/tests/integration/tmp
.vagrant
.idea/*
.vscode
js/coverage-ts

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

js/.pnp.*
js/.yarn/*
!js/.yarn/patches
!js/.yarn/plugins
!js/.yarn/releases
!js/.yarn/sdks
!js/.yarn/versions

node_modules
