language: php

env:
  - DB_USERNAME=travis

php:
  - 7.0
  - 7.1
  - 7.2

services:
  - mysql

matrix:
  fast_finish: true

before_install:
  - mysql -e 'CREATE DATABASE flarum;'

before_script:
  - if [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then phpenv config-rm xdebug.ini; fi;
  - composer self-update
  - composer install

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

notifications:
  email:
    on_failure: change

after_success:
  - bash <(curl -s https://codecov.io/bash)

sudo: false
