{{#if items}}
    <button {{bind-attr class=":dropdown-toggle :btn buttonClass"}} data-toggle="dropdown">
    	<span class="label">{{activeItem.title}}</span>
        {{fa-icon "sort" class="icon-caret"}}
    </button>
    {{ui/controls/item-list items=items class=dropdownMenuClass viewName="menu"}}
{{/if}}