<textarea class="form-control" {{bind-attr placeholder=placeholder}}></textarea>

<div class="composer-editor-controls">
	<div class="pull-left">
		<button class="btn btn-primary">Submit Post</button>
		<div class="btn-group">
	        <button class="btn btn-default"><i class="fa fa-fw fa-image"></i></button>
			<button class="btn btn-default"><i class="fa fa-fw fa-paperclip"></i></button>
		</div>
	</div>
</div>
