<textarea class="form-control" {{bind-attr placeholder=placeholder}}></textarea>

<div class="composer-editor-controls">
	<button class="btn btn-primary">Submit Reply</button>
	<div class="btn-group">
        <button class="btn btn-default btn-icon"><i class="fa fa-fw fa-image"></i></button>
		<button class="btn btn-default btn-icon"><i class="fa fa-fw fa-paperclip"></i></button>
	</div>
</div>
