language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

before_script:
  - if [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then phpenv config-rm xdebug.ini; fi;
  - composer install

script:
  - composer style
  - composer test

notifications:
  email:
    on_failure: change
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/7b9e9827a03b44a16588
    on_success: always
    on_failure: always
    on_start: false

sudo: false
