.ExtensionBisectModal-extension {
  padding: 2rem 0;
  border-radius: var(--border-radius);
  background-color: var(--body-bg);
}

.ExtensionBisectModal-extension-icon {
  --size: 60px;
}

.ExtensionBisectModal-extension-name {
  font-size: 15px;
  margin: 1rem 0 0;
}
