.AppearancePage {
  padding-bottom: 30px;

  @media @desktop-up {
    .container {
      max-width: 600px;
      margin: 0;
    }
  }

  fieldset {
    margin-bottom: 40px;
  }
}
.AppearancePage-colors-input {
  display: flex;
  gap: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.TextareaCodeModal {
  textarea {
    font-family: monospace;
    line-height: 1;
  }
}
