.BasicsPage {
  padding-bottom: 30px;

  @media @desktop-up {
    .container {
      max-width: 600px;
      margin: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.BasicsPage-welcomeBanner-input {
  .StackedFormControl > :first-child {
    font-weight: bold;
  }
  textarea {
    min-width: 100%;
  }
}
