.AppearancePage {
  padding-bottom: 30px;

  @media @desktop-up {
    .container {
      max-width: 600px;
      margin: 0;
    }
  }

  fieldset {
    margin-bottom: 40px;
  }
}
.AppearancePage-colors-input {
  overflow: hidden;

  .Form-group {
    position: relative;
    display: inline-block;
  }

  .Form-group:last-child {
    margin-bottom: 24px !important;
    margin-left: 10px;
  }

  .Form-group::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 13px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    background-color: var(--input-value);
    border-radius: 15%;
    pointer-events: none;
  }
}

.AppearancePage-colors .Checkbox {
  margin-bottom: 15px;
}

.TextareaCodeModal {
  textarea {
    font-family: monospace;
    line-height: 1;
  }
}
