.DashboardPage {
  background: @body-bg;
  color: @control-color;
  min-height: 100vh;
  padding-bottom: 30px;
}

.Widget {
  background: @control-bg;
  color: @text-color;
  border-radius: @border-radius;
  padding: 20px;
  margin-bottom: 20px;

  .Button {
    .Button--color(@control-color, @body-bg)
  }
}

.StatusWidget {
  color: @muted-color;

  >ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
      display: inline-block;
      margin-right: 30px;
      vertical-align: middle;

      &[class^="item-version-"] {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.item-tools {
        float: right;
        margin-right: 0;
      }
    }
  }
}
