@extension-list-column-width: 410px;

.ExtensionPage {
  min-height: 100vh;

  .ExtensionPage-permissions-header {
    .ExtensionTitle {
      margin-left: 30px;
    }
  }

  .ExtensionPage-header {
    .ExtensionTitle {
      margin: 20px 0 15px;
    }
    .helpText {
      margin-bottom: 5px;
    }
  }

  .ExtensionPage-header,
  .ExtensionPage-permissions-header {
    background: @control-bg;

    h2 {
      color: @muted-color;
      margin-left: 35px;

      span {
        font-size: 13px;
        color: @muted-color;
        font-weight: normal;
      }
    }

    button {
      i {
        display: unset;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      > li {
        display: inline;
        color: @muted-color;
        margin-left: 13px;


        > a {
          color: @muted-color;
        }

        > .icon {
          margin-right: 5px;
        }
      }
    }

    .ExtensionPage-headerItems {
      padding: 15px 0;

      .Checkbox {
        display: inline-block;
      }

      .ExtensionInfo {
        padding-top: 5px;
      }

      @media @phone {
        .ExtensionPage-headerTopItems {
          padding-top: 20px;
        }
      }
    }

    .Checkbox.off {
      .Checkbox-display {
        background: @muted-more-color;
      }
    }

    .ExtensionInfo {
      float: right;
    }


      .ExtensionName {
        display: inline-block;
        margin-left: 8px;
      }

      .ExtensionIcon {
        width: 30px;
        height: 30px;
        font-size: 15px;
        margin-left: 0;
        vertical-align: middle;
      }
  }

  @media @tablet-up {
    .ExtensionPage-headerTopItems {
      float: right;
      position: relative;
    }
  }

  .ExtensionPage-settings {
    margin-top: 20px;
    padding: 10px 0;

    input {
      max-width: 400px;
    }
  }

  .ExtensionPage-subHeader {
    color: @muted-color;
    font-weight: normal;
    text-align: center;
  }


  .ExtensionPage-permissions {
    .ExtensionPage-permissions-header {
      margin: 20px 0 20px;
      padding: 5px 0;
    }
  }
}
