// Minimal NoJs specific styles
.NoJs-ExtensionsTable {
  td&-icon {
    padding-top: 0;
    padding-bottom: 0;
  }

  .ExtensionListItem-Dot {
    position: relative;
    right: 0;
    margin: 0;
  }

  .ExtensionIcon {
    --size: 25px;
  }
}
