.settings {
  margin-top: 5px;

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      margin-bottom: 40px;
    }
  }
  & fieldset > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.settings-account {
  & li {
    display: inline-block;
    margin-right: 5px;
  }
}
.notification-grid {
  & table {
    background: @fl-body-control-bg;
    border-radius: @border-radius-base;
  }
  & table td, & table th {
    border-bottom: 1px solid @fl-body-bg;
    color: @fl-body-control-color;
  }
  & td, & th, & .yesno {
    padding: 10px 15px;
  }
  & thead {
    & th {
      text-align: center;
      padding: 15px 25px;
    }
    & .fa {
      display: block;
      font-size: 14px;
      width: auto;
      margin-bottom: 5px;
    }
  }
  & .toggle-group {
    & .fa {
      font-size: 14px;
      margin-right: 2px;
    }
  }
  & .yesno-cell {
    padding: 0;
  }
  & .yesno-control {
    display: block;
  }
  & .yesno {
    text-align: center;
    cursor: pointer;
  }
  & .yesno-cell.highlighted .yesno, & .yesno:hover {
    &:not(.disabled) {
      background: darken(@fl-body-control-bg, 4%);
    }
  }
  & .toggle-group {
    cursor: pointer;
  }
}
