.SettingsPage {
  margin-top: 5px;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-bottom: 40px;
    }
  }
  fieldset > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.Settings-account {
  li {
    display: inline-block;
    margin-right: 5px;
  }
}

