<div class="container">
	<button class="close btn btn-icon btn-link" {{action "close"}}>{{fa-icon "times"}}</button>
	<div class="container-narrow">
		<h2>Welcome to Flarum Prototype Forum</h2>
		<p>Thanks for stopping by! Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>
</div>