<header class="hero discussion-hero">
  <div class="container">
    <h2>{{model.title}}</h2>
  </div>
</header>

<div class="container">
  <nav class="discussion-nav">
    {{ui/item-list items=view.sidebar}}
  </nav>

  {{discussion/stream-content
    viewName="streamContent"
    stream=stream
    class="discussion-posts posts"
    positionChanged="positionChanged"
    postRemoved="postRemoved"}}
</div>
