.badge-sticky {
  background: #d13e32;
}
.post-discussion-stickied {
  & .post-icon, & .post-activity-info, & .post-activity-info a {
    color: #d13e32;
  }
}
.discussion-excerpt {
  display: block !important;
  margin-bottom: 10px;
  white-space: normal;
  font-size: 12px;
  line-height: 1.5em;
  color: #aaa;
}
