.InfoTile {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 1.1rem;
  color: var(--control-color);
  align-items: center;
  padding: 8px 0;

  .icon {
    color: var(--control-muted-color);
    font-size: 2rem;
  }
}
