.Pagination {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  &-pageNumber {
    text-align: center;
  }

  &-input {
    display: inline-block;
    margin: 0 8px;
    width: auto;
    max-width: 80px;
  }
}
