.Search {
  position: relative;
}

.DiscussionSearchResult {
  > .DiscussionListItem {
    --discussion-list-item-bg-hover: var(--control-bg);
    margin: 0 -16px;
    border-radius: 0;
  }

  &.active > .DiscussionListItem {
    background-color: var(--discussion-list-item-bg-hover);
  }
}

.UserSearchResult {
  margin: 0 -16px;

  .badges {
    margin-inline-start: 4px;
  }
  > a {
    gap: 6px;
    padding: 12px 15px;
    border-radius: 0;
  }
  .Avatar {
    --size: 36px;
  }
  .username {
    font-size: 15px;
  }
}

.SearchModal {
  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }

  &-tabs {
    &-nav + .Modal-divider {
      margin-top: 0;
    }

    &-nav {
      margin-bottom: -1px;
      display: flex;
      column-gap: 4px;
      padding: 0 14px;

      > .Button {
        border-radius: 0;
        font-size: 15px;
        padding: 12px 8px;
        border-bottom: 2px solid;
        border-color: transparent;

        &[active] {
          --button-color: var(--text-color);
          --link-color: var(--text-color);
          border-color: var(--primary-color);
          font-weight: bold;
        }
      }
    }

    &-content {
      .Dropdown--expanded();

      .Dropdown-header {
        color: var(--muted-more-color);
      }

      > .SearchModal-section:first-of-type .Modal-divider {
        margin-top: -1px;
      }
    }
  }

  &-input {
    height: 42px;
  }

  &-results {
    mark {
      background: none;
      padding: 0;
      font-weight: bold;
      color: inherit;
      box-shadow: none;
    }

    .Badge {
      --packing-space: 8px;
      --size: 18px;
      box-shadow: none;
    }
  }

  &-fullPage .LinkButton {
    font-weight: bold;
  }

  .Dropdown-menu>li>a, .Dropdown-menu>li>button, .Dropdown-menu>li>span {
    border-radius: var(--border-radius);
  }

  &-gambit {
    gap: 4px !important;

    &-key {
      font-weight: bold;
    }
    &-value {
      color: var(--control-color);
    }
  }
}
