.Search {
  position: relative;
}

.DiscussionSearchResult-excerpt {
  margin-top: 3px;
  color: var(--muted-color);
  font-size: 11px;
}
.UserSearchResult .Avatar {
  .Avatar--size(24px);
  margin: -2px 10px -2px 0;
}

.SearchModal {
  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }

  &-tabs {
    &-nav + .Modal-divider {
      margin-top: 0;
    }

    &-nav {
      margin-bottom: -1px;
      display: flex;
      column-gap: 4px;
      padding: 0 14px;

      > .Button {
        border-radius: 0;
        font-size: 15px;
        padding: 12px 8px;
        border-bottom: 2px solid;
        border-color: transparent;

        &[active] {
          --button-color: var(--text-color);
          --link-color: var(--text-color);
          border-color: var(--primary-color);
          font-weight: bold;
        }
      }
    }

    &-content {
      .Dropdown--expanded();

      .Dropdown-header {
        color: var(--muted-more-color);
      }

      > .SearchModal-section:first-of-type .Modal-divider {
        margin-top: -1px;
      }
    }
  }

  &-input {
    height: 42px;
  }

  &-results {
    mark {
      background: none;
      padding: 0;
      font-weight: bold;
      color: inherit;
      box-shadow: none;
    }
  }
}
