// ------------------------------------
// Tooltips

// Base class
.tooltip {
  --tooltip-arrow-width: @tooltip-arrow-width;

  position: absolute;
  z-index: var(--zindex-tooltip);
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.15s linear;

  &.show     { opacity: 1; }
  &[data-popper-placement=top]    { margin-top:  -3px; padding: var(--tooltip-arrow-width) 0; }
  &[data-popper-placement=right]  { margin-left:  3px; padding: 0 var(--tooltip-arrow-width); }
  &[data-popper-placement=bottom] { margin-top:   3px; padding: var(--tooltip-arrow-width) 0; }
  &[data-popper-placement=left]   { margin-left: -3px; padding: 0 var(--tooltip-arrow-width); }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: 200px;
  padding: 7px 12px;
  color: var(--tooltip-color);
  text-align: center;
  text-decoration: none;
  background-color: var(--tooltip-bg);
  border-radius: var(--border-radius);
}

// Arrows
@tooltip-arrow-width: 5px;

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip {
  &[data-popper-placement=top] .tooltip-arrow {
    bottom: 0;
    border-width: var(--tooltip-arrow-width) var(--tooltip-arrow-width) 0;
    border-top-color: var(--tooltip-bg);
  }
  &[data-popper-placement=right] .tooltip-arrow {
    left: 0;
    border-width: var(--tooltip-arrow-width) var(--tooltip-arrow-width) var(--tooltip-arrow-width) 0;
    border-right-color: var(--tooltip-bg);
  }
  &[data-popper-placement=left] .tooltip-arrow {
    right: 0;
    border-width: var(--tooltip-arrow-width) 0 var(--tooltip-arrow-width) var(--tooltip-arrow-width);
    border-left-color: var(--tooltip-bg);
  }
  &[data-popper-placement=bottom] .tooltip-arrow {
    top: 0;
    border-width: 0 var(--tooltip-arrow-width) var(--tooltip-arrow-width);
    border-bottom-color: var(--tooltip-bg);
  }
}
