.TagCloud {
  margin-top: 50px;
  text-align: center;
}
.TagCloud-title {
  font-size: 12px;
  font-weight: bold;
  color: @muted-color;
  text-transform: uppercase;
  margin-bottom: 15px;

  &:before {
    .fa();
    content: @fa-var-tags;
    margin-right: 5px;
    font-size: 14px;
  }
}
.TagCloud-content {
  font-size: 14px;
  line-height: 1.7;

  &, a {
    color: @muted-color;
  }
  a {
    margin: 0 6px;
  }
}
