.badge-follow {
  background: #fc0;
}
.badge-ignore {
  background: #aaa;
}
.btn-subscription-follow {
  .button-variant(#de8e00, #fff2ae, #fff2ae);
}
.subscription-menu .dropdown-menu {
  min-width: 260px;
}
.subscription-menu-item {
  & .label {
    padding-left: 25px;
    display: block;
    white-space: normal;

    & strong {
      display: block;
    }
    & .description {
      display: block;
      color: @fl-body-muted-color;
      font-size: 12px;
      margin-top: 3px;
    }
  }
}
