:root {
  --following-bg: #ffea7b;
  --following-color: #de8e00;
  --ignoring-bg: #aaa;
}

.Badge--following {
  --badge-bg: var(--following-bg);
  --badge-color: var(--following-color);
}
.Badge--ignoring {
  --badge-bg: var(--ignoring-bg);
}
.SubscriptionMenu-button--follow {
  & when (@config-dark-mode = false) {
    .Button--color(#de8e00, #fff2ae);
  }
  & when (@config-dark-mode = true) {
    .Button--color(#784d00, #fbb94c);
  }
}
.SubscriptionMenu .Dropdown-menu {
  min-width: 260px;
}
.SubscriptionMenuItem-label {
  padding-left: 25px;
  display: block;
  white-space: normal;

  & strong {
    display: block;
  }
}
.SubscriptionMenuItem-description {
  display: block;
  color: @muted-color;
  font-size: 12px;
  margin-top: 3px;
}
