.TagIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 1px;
  text-align: center;
  font-size: 1rem;

  &.untagged {
    border: 1px dotted @muted-color;
    background: transparent;
  }

  &.default {
    border-radius: @border-radius;
    background: @control-bg;
    vertical-align: -3px;
  }
}
