// ------------------------------------
// Discussions List

.DiscussionList-discussions {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.DiscussionList-loadMore {
  text-align: center;
  margin-top: 10px;

  .LoadingIndicator-container {
    height: 46px;
  }
}

@media @phone {
  .DiscussionList {
    margin: 0 -15px;
  }
}
