.NotificationsDropdown {
  .Dropdown-menu {
    padding: 0;

    .NotificationList-content {
      max-height: 70vh;
      overflow: auto;
    }
  }
  & .Dropdown-toggle .Button-label {
    margin-left: 7px;
  }
}
@media @tablet-up {
  .NotificationsDropdown {
    .Dropdown-menu {
      width: 425px;
    }
    .Dropdown-toggle {
      .Button--icon();
    }
  }
}

.NotificationsDropdown .Dropdown-toggle.new .Button-icon {
  color: var(--header-color);
}

.NotificationsDropdown-unread {
  position: absolute;
  top: 2px;
  left: 18px;
  background: var(--header-control-color);
  color: var(--header-bg);
  font-size: 11px;
  font-weight: bold;
  padding: 2px 4px 3px;
  line-height: 1em;
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--header-bg);
  min-width: 16px;
  height: 16px;
  text-align: center;

  @media @phone {
    left: 20px;
  }

  .new & {
    background: var(--header-color);
  }
}
