.PostList-discussions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.PostListItem-discussion {
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;

  &, a {
    color: var(--muted-color);
  }
  a {
    font-style: italic;
  }
}
