{{user-avatar user class="composer-avatar"}}

<div class="composer-body">
	{{ui/controls/item-list items=controls class="composer-header list-inline"}}

	<div class="composer-editor">
		{{ui/controls/text-editor submit="submit" value=value placeholder=placeholder submitLabel=submitLabel disabled=loading}}
	</div>
</div>

{{ui/controls/loading-indicator classNameBindings=":composer-loading loading:active"}}