// @import "config-default.less";
@import "config.less";

@flarum-base:       "flarum/";
@bootstrap-base:    "../../bower_components/bootstrap/less/";
@font-awesome-base: "../../bower_components/font-awesome/less/";

@import "bootstrap/bootstrap.less";
@import "@{font-awesome-base}font-awesome.less";

@fa-font-path: "../font-awesome/fonts";

