// ---------------------------------
// CONFIG

// Color palette:
// #AB2C2C #E7562E #E99700 #E7D81D #92D32F #55A835 #3388A7 #355B8E #7F45A9 #A0346E #797979

@fl-primary-color:                  #355B8E;
@fl-secondary-color:                #355B8E;

@fl-dark-mode:                      false;
@fl-colored-hdr:                    false;
