@import "config.less";

@flarum-base:       "flarum/";
@bootstrap-base:    "../../bower_components/bootstrap/less/";
@font-awesome-base: "../../bower_components/font-awesome/less/";

@import "@{flarum-base}bootstrap/bootstrap.less";
@import "@{font-awesome-base}font-awesome.less";

@fa-font-path: "../font-awesome/fonts";

@import "@{flarum-base}global.less";
@import "@{flarum-base}discussions.less";
@import "@{flarum-base}discussion.less";
