<label>
  <div class="switch-control">
    {{input type="checkbox" checked=toggleState}}
    <div class="switch {{if loading "loading"}}">

    </div>
  </div>
  {{label}}
  {{#if loading}}
    {{ui/loading-indicator size="tiny"}}
  {{/if}}
</label>
