.container {
  width: auto;
  padding: 0 20px;
}
.App {
  padding-top: 0;
  min-height: 0;

  &:before {
    display: none;
  }
}
.App-content {
  border-top: 0;
}
.DiscussionPage-stream {
  margin-right: 0;
}
.Post-stream {
  margin-top: 0;
}
