.badge-sticky {
  background: #d13e32;
}
.post-discussion-stickied {
  & .post-icon, & .post-activity-info, & .post-activity-info a {
    color: #d13e32;
  }
}
.discussion-excerpt {
  margin-top: 8px;
  margin-right: 20px;
  white-space: normal;
  font-size: 12px;
  line-height: 1.5em;
  color: @fl-body-muted-more-color;

  .discussion-summary .info > li& {
    display: block;

    .paned & {
      display: none;
    }
    @media @phone {
      display: none;
    }
  }
}
