.container {
  width: auto;
  padding: 0 20px;
}
.App {
  padding-top: 0;
  min-height: 0;

  &:before {
    display: none;
  }
}
.App-content {
  border-top: 0;
}
.DiscussionPage-nav--embed {
  > ul {
    padding: 0;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid @control-bg;

    > li {
      margin: 15px 15px 15px 0;
      display: inline-block;

      .Dropdown-menu {
        left: 0;
        right: auto;
      }
    }
  }
}
.DiscussionPage-stream {
  margin-right: 0;
}
.Post-stream {
  margin-top: 0;
}
