{{#if editing}}
  {{textarea value=user.bio class="form-control"}}
{{else}}
  <div class="bio-content">
    {{#if user.bioHtml}}
      {{{user.bioHtml}}}
    {{else if isEditable}}
      <p>Write something about yourself...</p>
    {{/if}}
  </div>
{{/if}}
