@import 'common';

.AuditPageContainer {
    max-width: 850px;
}

.Button--audit-small {
    padding: 3px 8px;
}

.Modal--AuditLogLimitedSettings {
    .AuditSubCheckbox {
        padding-left: 50px;
    }

    .AuditCheckbox em {
        color: var(--muted-color);
        font-weight: normal;
        font-size: 0.8em;
    }
}
