{{#each item in listItems}}
  {{#unless item.isHiddenInList}}
    {{#if item.isListItem}}
      {{view item}}
    {{else}}
      <li class="{{item.listItemClass}}">{{view item}}</li>
    {{/if}}
  {{/unless}}
{{/each}}
