<header class="hero discussion-hero">
	<div class="container">
		<h2>{{model.title}}</h2>
	</div>
</header>

<div class="container">
	<nav class="discussion-nav">
		{{ui/controls/item-list items=view.sidebarItems}}
	</nav>

	{{discussions/stream-content
		viewName="streamContent"
		stream=stream
		class="discussion-posts posts"
		updateStart="updateStart"}}
</div>
