<header class="page-header discussion-header">
	{{partial "partials/discussion-header"}}
</header>

<section class="items posts">
{{#each item in postStream}}

	{{#discussion-item item=item}}
		{{#if item.post}}{{discussion-post post=item.post}}{{/if}}
	{{/discussion-item}}

{{/each}}
</section>

{{#if postStream.lastLoaded}}
	<footer class="page-footer discussion-footer">
		{{menu-list items=view.footerControls class="list-inline"}}
	</footer>
{{/if}}
