<header class="page-header discussion-header">
	{{partial "partials/discussion-header"}}
</header>

<nav class="discussion-nav">
	{{view view.sidebar viewName="sidebar"}}
</nav>

<section class="items posts">
{{#each item in postStream}}

	{{#discussion-item item=item}}
		{{#if item.post}}{{discussion-post post=item.post}}{{/if}}
	{{/discussion-item}}

{{/each}}
</section>