<header class="page-header discussion-header">
	<h1>{{title}}</h1>
</header>

<nav class="discussion-nav">
	{{ui/controls/item-list items=view.sidebarItems}}
</nav>

<section class="discussion-posts stream posts">
	{{#each item in stream}}
		{{#discussions/stream-item item=item loadRange="loadRange"}}
			{{#if item.post}}{{discussions/post-full post=item.post}}{{/if}}
		{{/discussions/stream-item}}
	{{/each}}
</section>