<header class="hero error-hero">
	<div class="container">
		<h2>Error</h2>
	</div>
</header>

<div class="error-area">
	<div class="container">
		<p>{{message}}</p>

		<pre>{{stack}}</pre>
	</div>
</div>