{{user/user-card user=model class="hero user-hero" editable=true controlsButtonClass="btn btn-default"}}

<div class="container">
  <nav class="side-nav user-nav">
    {{ui/item-list items=view.sidebar}}
  </nav>

  {{outlet}}
</div>
