@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

// .pace .pace-progress {
//   background: @flarum-bg-muted-color;
//   position: fixed;
//   z-index: 2000;
//   top: 0;
//   left: 0;
//   height: 2px;

//   -webkit-transition: width 1s;
//   -moz-transition: width 1s;
//   -o-transition: width 1s;
//   transition: width 1s;
// }

// .pace-inactive {
//   display: none;
// }

body {
	background-color: @flarum-background-color;
	background-image: @flarum-background-image;
	color: @flarum-bg-text-color;
	// -webkit-font-smoothing: antialiased;
}
body, input, button, select, textarea {
	font-size: 13px;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
a {
	color: @flarum-bg-link-color;
}
a:hover {
	color: @flarum-bg-link-color;
}
#wrapper {
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
}
@media (min-width: @screen-md-min) {
	#sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 295px;
		padding: 2.5vh 25px 2.5vh 0;
		display: table;
		z-index: 20;
	}
	#sidebar-body {
		display: table-row;
		height: 100%;
	}
	#sidebar-content {
		overflow: auto;
		height: 100%;
		box-sizing: content-box;
		padding: 10px 25px;
		margin: 0 -25px;
	}
	#sidebar-content .toolbar, #sidebar-content .body {
		list-style-type: none;
		margin: 0 0 10px;
		padding: 0;
	}
	#sidebar-footer {
		display: table-row;
	}
	#sidebar footer {
		border-top: 1px solid @flarum-bg-secondary-color;
		padding-top: 15px;
	}
	#sidebar-footer .statistics {
		border-bottom: 1px solid @flarum-bg-secondary-color;
		padding: 10px 0;
	}
	#sidebar-footer .statistics i {
		margin-right: 10px;
	}
	#sidebar-footer .statistics a {
		margin-right: 10px;
	}
	#sidebar-footer .meta {
		padding-top: 10px;
		.clearfix();
	}
	#sidebar-footer .meta > a, #sidebar-footer .meta > .dropdown > a {
		color: @flarum-bg-muted-color;
	}
	#sidebar-footer .language {
		float: left;
	}
	#sidebar-footer .powered-by {
		float: right;
	}
	#sidebar-header {
		display: table-row;
	}
	#sidebar header {
	}
	#sidebar header h1 {
		font-weight: 600;
		font-size: 18px;
		margin: 0 0 15px;
		line-height: 1.5em;
		text-align: center;

		// font-family: Fugaz One;
		// font-weight: normal;
		// font-size: 22px;
	}
	#sidebar header h1 .logo {
		display: block;
		margin: 0 auto;
		padding-bottom: 10px;
	}
}
#sidebar .search {
	white-space: nowrap;
	margin-bottom: 15px;
}
#sidebar .search input, #sidebar .search .search-nav {
	border-radius: 20px;
	background: transparent;
	border: 1px solid @flarum-bg-secondary-color;
	box-shadow: none;
	padding: @padding-base-vertical @padding-base-horizontal;
}
#sidebar .search input {
	padding-right: 30px;
}
#sidebar .search input::-webkit-input-placeholder {
	color: @flarum-bg-muted-color;
}
#sidebar .search input::-moz-placeholder {
	color: @flarum-bg-muted-color;
}
.search-input {
	position: relative;
}
.search-input input[type=text] {
	padding-right: 30px;
	-webkit-appearance: none;
}
.search-input .clear {
	position: absolute;
	right: 13px;
	top: @padding-base-vertical;
	line-height: 18px;
	color: @flarum-bg-muted-color;
	font-size: 18px;
	transition: transform 0.1s;
	transform: scale(0.01);
}
.search-input.clearable .clear {
	transform: scale(1);
}
#sidebar .search input:focus, #sidebar .search .search-nav, #sidebar .search-input.active input {
	background: @flarum-body-background-color;
	color: @flarum-body-text-color;
	border-color: transparent;
}
#sidebar .search-nav {
	text-align: center;
}
#sidebar .search-nav, #sidebar .search-nav a {
	color: @flarum-body-muted-color;
}
#sidebar .search-nav a {
	padding: 5px 10px;
	margin: 0 -5px;
}
#sidebar .search-nav a:hover {
	color: @flarum-body-primary-color;
	text-decoration: none;
}
#sidebar .search-nav a.disabled {
	color: @flarum-body-secondary-color;
	cursor: default;
}
.nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}
.nav-list li a {
	display: block;
	padding: (@padding-base-vertical + 1) @padding-base-horizontal;
	color: @flarum-bg-link-color;
	border-top: 1px solid @flarum-bg-secondary-color;
}
.nav-list li a i {
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	text-decoration: none;
	font-size: 14px;
}

.nav-list li.active + li a, .nav-list:not(.categories) li:first-of-type > a {
	border-top: 0;
}
.nav-list li.active a {
	color: contrast(@flarum-bg-primary-color, #000, #fff) !important;
	background: @flarum-bg-primary-color;
	border-radius: @border-radius-base;
	font-weight: 600;
	border-top: 0;
}
.nav-list li.active a:hover {
	text-decoration: none;
}
.nav-list li a.count {
	float: right;
	border: 0;
	background: none;
}

.nav-list .header {
	display: block;
	color: @flarum-bg-muted-color;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	border-top: 0;
	padding: 8px 0;
	margin-top: 15px;
}
.nav-list-small li a {
	padding: 7px 12px;
}

.nav-list.categories {
	margin-left: 35px;
}
.nav-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-list ul ul {
	padding-left: 20px;
	font-size: 12px;
	display: none;
}
.nav-list.categories .color {
	width: 16px;
	height: 16px;
	display: inline-block;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-top: 2px;
}

.category {
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 12px;
	display: inline-block;
	line-height: @line-height-base;
	color: @flarum-body-muted-color;
	border: 1px solid @flarum-body-secondary-color;
}
// .category-announcements {
// 	background-color: #2D4053;
// 	color: #fff !important;
// }
// .category-general {
// 	background-color: #D9D9D9;
// 	color: #555 !important;
// }
// .category-support {
// 	background-color: #5A69DB;
// 	color: #fff !important;
// }
// .category-feedback {
// 	background-color: #529E3C;
// 	color: #fff !important;
// }
// .category-core {
// 	background-color: #F7D64E;
// 	color: #7E6500 !important;
// }
// .category-plugins {
// 	background-color: #EC9A3D;
// 	color: #fff !important;
// }
// .category-themes {
// 	background-color: #DB5A5A;
// 	color: #fff !important;
// }

#body {
	background: @flarum-body-background-color;
	margin-left: 295px;
	padding: 2.5vh 30px;
	border-radius: @border-radius-base;
	// min-height: 94vh;
	color: @flarum-body-text-color;
}
.page-header {
	border-bottom: 1px solid @flarum-body-secondary-color;
	position: relative;
	padding-bottom: 40px;
	margin: 0;
}
.page-header h2 {
	text-align: center;
	font-size: 22px;
	font-weight: 300;
	color: @flarum-body-primary-color;
	margin: 0;
}
.page-header h2 i {
	margin-right: 5px;
}
.page-header:before {
	content: " ";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: @flarum-body-secondary-color;
	border-top-width: 0;
	left: 50%;
	bottom: -1px;
	margin-left: -15px;
}
.page-header:after {
	content: " ";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-bottom-color: @flarum-body-background-color;
	border-top-width: 0;
	left: 50%;
	bottom: -2px;
	margin-left: -14px;
}
.page-header .pull-right {
	position: absolute;
	right: 0;
}
.page-header .pull-left {
	position: absolute;
	left: 0;
}

.btn {
	padding: @padding-base-vertical @padding-base-horizontal;
	font-weight: 600;
}
.btn-following {
	.button-variant(#d80; #ffd; #ffd);
}
.btn i {
	font-size: 14px;
}
.btn .icon-caret-down {
	margin: 0 2px;
}
.btn:active,
.btn.active,
.btn-group.open .dropdown-toggle {
	.box-shadow(inset 0 1px 4px rgba(0,0,0,.05));
}

.btn-default {
	&,
	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle& {
		background: transparent;
		border-color: @flarum-body-secondary-color;
		color: @flarum-body-muted-color;
		font-weight: normal;
	}
}

#sidebar .btn-default {
	.button-variant(@flarum-bg-primary-color; @flarum-bg-secondary-color; @flarum-bg-secondary-color);
	border: 0;
	font-weight: 600;
}

.btn-sm {
	padding: @padding-small-vertical @padding-small-horizontal;
	border-radius: @border-radius-base;
	font-size: 13px;
}
.btn-xs {
	padding: @padding-xs-vertical @padding-xs-horizontal;
	border-radius: @border-radius-base;
}

.select {
	// margin-right: @padding-small-horizontal;
}
.select select {
	-webkit-appearance: none;
	background: transparent;
	border-color: @flarum-body-secondary-color;
	color: @flarum-body-muted-color;
	padding: @padding-small-vertical @padding-small-horizontal;
	padding-right: @padding-small-horizontal + 16;
	outline: none;
	border-radius: @border-radius-base;
	cursor: pointer;
	margin-right: -3px;
	line-height: 1.5em;
}
.select i {
	margin-left: -@padding-small-horizontal - 12;
	pointer-events: none;
	font-size: 12px;
	color: @flarum-body-muted-color;
}


.controls.open {
	display: block !important;
}


.tooltip-inner {
	padding: 5px 8px;
}

#message-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 2vh;
	text-align: center;
	z-index: 100;
	pointer-events: none;
}
.message {
	background: fade(#feb, 95%);
	box-shadow: 0 0 0 1px fade(#c2991a, 40%), 0 3px 3px rgba(0, 0, 0, 0.1);
	padding: @padding-base-vertical @padding-base-horizontal;
	display: inline-block;
	border-radius: @border-radius-base;
	pointer-events: auto;
	text-align: left;
	&, & a {
		color: #a61;
	}
}
.message a {
	font-weight: bold;
	margin: 0 -10px 0 0;
	padding: 10px;
}
.message-warning {
	background: fade(#c21a1a, 95%);
	box-shadow: 0 0 0 1px fade(#911, 80%), 0 3px 3px rgba(0, 0, 0, 0.1);
	&, & a {
		color: #fff;
	}
}
.message-text {
	display: inline-block;
	max-width: 400px;
	vertical-align: middle;
}
.message-actions {
	display: inline-block;
	vertical-align: middle;
}

.avatar, .avatar img {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	color: #fff;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	line-height: 48px;
	vertical-align: top;
}
.avatar-thumb, .avatar-thumb img {
	width: 24px;
	height: 24px;
	font-size: 13px;
	line-height: 24px;
	vertical-align: middle;
}

#session {
	// position: fixed;
	// top: 10px;
	// right: 10px;
	// background: darken(@flarum-body-background-color, 3%);
	// box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	// border-radius: 24px;
	// padding: 5px;
	z-index: 100;
	text-align: center;
}
#session > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	.clearfix();
}
#session > ul > li {
	display: inline-block;
	// border-right: 1px solid @flarum-bg-secondary-color;
	vertical-align: middle;
}
#session > ul > li:last-of-type {
	border-right: 0;
}
#session > ul > li > a, #session > ul > li > .dropdown > a {
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
}
#session .avatar-thumb {
	margin-right: 10px;
	margin-left: -10px;
	vertical-align: 0;
}
#session .notifications-dropdown .dropdown-toggle i {
	font-size: 14px;
	// color: @flarum-bg-muted-color;
}
#session .badge {
	background: #e00;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	border-radius: 3px;
	padding: 2px 3px;
	position: absolute;
	top: -1px;
	right: 8px;
	line-height: 10px;
}



.btn-icon {
	color: @flarum-body-muted-color;
	font-size: 14px;
	padding-left: 7px;
	padding-right: 7px;
	background: transparent;
	border-color: transparent;
}
.btn-icon:hover {
	// color: @flarum-body-muted-color;
	text-decoration: none;
}


.dropdown-menu .fa {
	font-size: 14px;
}


.loading {
	color: @flarum-body-muted-color;
	padding: 50px 0;
}

/* Full width styles */
@media (min-width: @screen-md-min) {
	.container {
		max-width: none;
		width: auto;
		padding: 0;
	}
	#sidebar {
		width: 325px;
		padding-left: 25px;
		background: @flarum-background-color;
		background-image: @flarum-background-image;
	}
	#body {
		margin-left: 325px;
		border-radius: 0;
		// max-width: 900px;
	}
	#wrapper {
		padding: 0;
	}
}

body {
	background: @flarum-body-background-color;
}



/* New post */
.composer {
	position: fixed;
	left: 330px;
	right: 30px;
	bottom: -100%;
	// right: 0;
	z-index: 9;
	max-width: 800px;
	// transition: bottom 0.5s;
}
#body {
	// transition: padding-bottom 0.5s;
}
.composer-handle {
	// background: @flarum-background-color;
	cursor: row-resize;
	// height: 5px;
}
.composer-body {
	padding: 15px 15px 0;
	border: 1px solid @flarum-body-primary-color;
	border-radius: 4px;
	background: @flarum-body-background-color;
	// background: @flarum-body-background-color;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.composer-controls {
	position: absolute;
	right: 15px;
	top: 15px;
}
.composer-controls a {
	color: @flarum-body-muted-color;
	font-size: 14px;
	margin-left: 5px;
}
.composer-controls a:hover {
	color: @flarum-body-primary-color;
	font-size: 14px;
	margin-left: 5px;
}
.composer h3 {
	font-size: 13px;
	color: @flarum-body-muted-color;
	font-weight: 400;
	margin: 0 0 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid @flarum-body-secondary-color;
}

.composer-editor {

}
.composer-editor textarea {
	.box-shadow(none);
	min-height: 200px;
	background: @flarum-body-background-color;
	border: 0;
	resize: none;
	padding: 0;
	// padding-bottom: 0;
	&:focus {
		.box-shadow(none);
	}
}
.composer-editor-controls {
	padding: 15px 0;
	.clearfix();
}
.composer-editor-controls .btn {
}
.composer-editor-controls .pull-left > .btn:first-child {
	margin-right: 5px;
}
.composer-editor-controls .pull-right > .btn {
	margin-left: 5px;
}


.composer.collapsed .composer-handle {
	height: 5px;
}
.composer.collapsed .composer-body {
	padding-bottom: 1px;
}
.composer.collapsed .composer-editor {
	display: none;
}


.highlight-keyword {
	background: #fff28e;
	padding: 1px 4px;
	border-radius: 3px;
	color: @flarum-body-text-color;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	#sidebar-header .mobile-header {
		display: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}


@media (max-width: @screen-sm-max) {
	body {
		padding-top: 45px;
	}
	#sidebar-header header {
		display: none;
	}
	#sidebar-header .mobile-header {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: @flarum-background-color;
		padding: 12px 10px;
		color: @flarum-bg-primary-color;
		text-align: center;
		z-index: 20;
		height: 45px;
	}
	#sidebar-header .mobile-header h1 {
		font-size: 16px;
		font-weight: 600;
		display: inline-block;
		width: 80%;
		margin: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	#sidebar-header .mobile-header .back {
		position: absolute;
		left: 15px;
		top: 10px;
		font-size: 18px;
	}
	#sidebar-header .search {
		padding: 10px 15px;
		margin: 0;
		background: lighten(@flarum-body-secondary-color, 5%);
		& .search-input input {
			border: 0;
			background: #fff;
		}
	}

	#sidebar-footer {
		display: none;
	}

	#sidebar-content {
		overflow: hidden;
		height: auto;
		-webkit-overflow-scrolling: touch;
		padding: 0;
		margin: 0;
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: auto;
		background: #fff;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
		height: 45px;
		width: auto;
		z-index: 20;
	}
	#sidebar-content .toolbar {
		margin: 0;
		padding: 0;
		display: table;
		list-style-type: none;
		width: 100%;

		& li {
			display: table-cell;
			text-align: center;
		}
		& li:first-of-type {
			text-align: left;
		}
		& li:last-of-type {
			text-align: right;
		}

		& .btn {
			padding: 13px;
			transition: opacity 0.3s;
			&:active {
				opacity: 0.25;
			}
		}
		& .btn, & .btn-default, & .btn-group {
			display: inline-block;
			background: none !important;
			border: 0 !important;
			box-shadow: none !important;
			width: auto;

			& span {
				display: none;
			}
		}
	}
	#sidebar-content .body {
		display: none;
	}

	.discussion-scrubber {
		& .scrubber-first, & .scrollbar-before, & .handle, & .description, & .scrollbar-after, & .scrubber-last {
			display: none;
		}
		& .info {
			padding: 15px;
		}
	}



	#body {
		margin-left: 0;
		padding: 0;
	}
	#wrapper {
		padding: 0;
	}
}
